body {
  font-size: 1em;
  line-height:1.5;
  letter-spacing:2px;
  color:black

  padding:3rem;
  background: lightblue 

}

article{
  max-width:80ch;
  padding:1em;
  border-radius:1.5em;
  box-shadow: 0 0 3px 8px rgba(0, 0, 0, 1);
  background:blue

}

img{
  max-width: 25%;
  max-height: 25vh;
border-radius:1.5em;
}